basil-daq
coloredlogs
gitpython
matplotlib
numba
numpy<2
# online_monitor==0.6.0
pandas
pexpect
pixel-clusterizer
PyQt5==5.15.11
# pyeudaqpip
pyqtgraph==0.13.7
python-telegram-bot
pyyaml
pyzmq
scipy
tables
tqdm
uncertainties
setuptools<81
bitarray<3

# Test / simulation dependencies
# cocotb
# cocotb-bus
